/**
 *  BUGO NETLIFY CONTACT FORM
 **/

 @import "bugo-netlify-contact-vars";
 @debug "Loading Bugo Netlify Contact Form Module SASS";


#netlify-contact-form{
  max-width: 75vw;
  margin-left: auto;
  margin-right: auto;
  @include ms-respond(margin-top,2);
  @include ms-respond(margin-bottom,2);

  .form-group{
    display: grid;
    margin-bottom: 2rem;
    grid-template-areas: "label label" "input input";
    grid-template-columns: repeat(2, 1fr);
    label {
      grid-area: label;
    }

    input,textarea,select,em {
      grid-area: input;
    }
  }

  .form-footer {
      margin-bottom: 2rem;
  }
}

